html {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid rgb(205, 49, 49);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 60px;
}

.numOpContainer {
    display: flex;
    flex-grow: 1;
}
.numbers {
    display: flex;
    flex-direction: column;
    flex-grow: 6;
}

.operators {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.operators button {
    flex-grow: 1;
}

.numberSection,
.numberSection button {
    display: flex;
    text-align: center;
    flex-grow: 1;
}

.numberSection button {
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}